.otp-container {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 20px 0;
}

.otp-input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
}

.otp-actions {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-right: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
