.empty-container {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  max-width: 700px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.form-field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.list-container {
  max-width: 900px;
}

.address-card {
  border: 1px solid #f0f0f0;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  width:100%;
  
}
.details{
    display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width:75px;
}

.title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.error{
  color:red;
}


