:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-layout {
    height: 100vh;
    background-color: #ffffff;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  background-color: #fff;

  /* Make it scrollable */
  overflow-y: auto;

  /* Hide scrollbar (all browsers) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.menu-sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.title {
    color: red;
}

.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
}

.sidebar-logo {
    height: 64px;
  padding-left: 24px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;          
  position: sticky;        
  top: 0;                  
  z-index: 20;      
}

.sidebar-logo img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #ff0000;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
}

.app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}



.inner-content {
    padding: 24px;
    background: #f5f5f5;
    height: 97%;
    flex-grow: 1;
    overflow-y: auto;
    margin:10px;
    border-radius: 5px;
}

.active {
    background-color: #E6F7ff;
    color: rgb(0, 0, 0);
}

/* Upgrade card styles */
.upgrade-card {
    background-color: #6366f1;
    border-radius: 1rem;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-top: 5rem;
    text-align: center;

}
